:javascript
  $(document).ready(function() {
    $('#report_form')
      .on('ajax:success', function() {
        alert('レポートが送信されました\nご協力ありがとうございます!');
      })
      .on('ajax:error', function() {
        alert('レポートの送信に失敗しました');
      });
  });
