#recommend
  %article.post.format-aside
    .wrapped-content
      %h2.blog-title
        ツイートの保存をはじめよう
      %p
        黒歴史クリーナーの利用後はツイートの保存をはじめる最高のタイミングです！
        <mark class='yellow'>完全プライベートなツイート保存サービス</mark>「マビノギオン」を使えば、
        誰にも知られずにこっそりとツイートを保存しておくことができます。
      %p
        .primary-button
          = link_to 'http://kurorekishi.me/mabinogion', class: 'button radius tiny full-width' do
            マビノギオンでツイートを保存する
