#content.blog.scale-up.bg-dark
  #contact
    %article.post.format-aside
      .wrapped-content
        .wrapped-content
          %h3
            お問い合わせ
          %p
            下記ボタンからサポートアカウントまでお問い合わせ可能です。<br>
            ※ お問い合わせ・ご要望の前に、こちらの<a href='/cleaner/faq'>ヘルプ</a>に同様の質問・要望がないかご確認ください。
          %p
            = render :partial => 'roots/contact/mention'
          %hr
          %h3
            運営者情報
          %h4
            Twitter
          = render :partial => 'roots/contact/twitter'
          %h4
            Facebook
          = render :partial => 'roots/contact/facebook'
