.wrapped-content
  %h3 Features
  %dl
    %dt
      %i.icon-back-in-time.feature
    %dd
      簡単登録、高速削除！<br>
      1分で始められ、10分で終わります
  %hr
  %dl
    %dt
      %i.icon-angellist.feature
    %dd
      バックグラウンド実行！<br>
      削除が始まればブラウザを起動しておく<br>
      必要はありません
  %hr
  %dl
    %dt
      %i.icon-tools.feature
    %dd
      多彩な削除オプション！<br>
      リプライやお気に入りの保護<br>
      特定日付のツイートだけ削除できます
  %hr
  %dl
    %dt
      %i.icon-cancel-circle.feature
    %dd
      削除をやめたくなった場合、<br>いつでもキャンセルすることができます
