<div class='ad'>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 黒歴史クリーナー（M300x250_02） -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4435381701402377"
     data-ad-slot="5728994277"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>