<div class='ad'>
<script type="text/javascript">
    google_ad_client = "ca-pub-4435381701402377";
    google_ad_slot = "3132630305";
    google_ad_width = 300;
    google_ad_height = 250;
</script>
<!-- 新黒歴史クリーナー -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
