<div class='ad'>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-4435381701402377"
     data-ad-slot="<%= AdUnit.current -%>"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
