<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, user-scalable=no, initial-scale=1.0' name='viewport'>
    <meta apple-mobile-web-app-status-bar-style='black-translucent'>
    <meta content='黒歴史クリーナー' name='apple-mobile-web-app-title'>
    <title>呪われしツイートを一括削除！ | 黒歴史クリーナー</title>
    <style type="text/css">
    body {
      width: 320px;
      margin: 100px auto;
      font: 300 100% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
      color: #444;
    }
    h1 { font-size: 1.5em;font-weight: 300; }
    a { font-size: 1em; }
    </style>
  </head>
  <body>
    <h1>500 Internal Server Error</h1>
    <p>Looks like something went wrong. We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
    <p><a href='https://twitter.com/CleanThemAll'>黒歴史クリーナー</a></p>
  </body>
</html>
