%a.nav-with-ul{href: 'javascript:void(0);'} このサイトについて
%span.nav-child-container
  %span.nav-child-trigger +
%ul{style: "height: 0;"}
  %li
    %a{href:'http://clean-them-all.tumblr.com/'} お知らせ
  %li
    %a{href:usage_path} 使い方
  %li
    %a{href:faq_path} よくある質問
  %li
    %a{href:terms_path} 利用規約
  %li
    %a{href:privacy_path} プライバシーポリシー
  %li
    %a{href:contact_path} お問い合わせ
