-# display settings
%meta(charset='utf-8')
%meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
%meta(name='viewport' content='width=device-width, user-scalable=no')
-# basic information
%meta(name='keywords' content='Twitter Tweet ツイッター ツイート 削除 炎上予防')
%meta(name='description' content='「黒歴史クリーナー」はツイート一括削除サービス！簡単・迅速にあなたの黒歴史を消去します。炎上予防のため定期的にツイートを削除したい方、フォロワーを消さずにTwitterをやり直したい方にオススメです！')
%link(rel='canonical' href='https://kurorekishi.me/cleaner')
-# open graph
%meta(property="og:title" content="呪われしツイートを一括削除！ | 黒歴史クリーナー")
%meta(property="og:site_name" content="黒歴史クリーナー")
%meta(property="og:description" content="「黒歴史クリーナー」はツイート一括削除サービス！簡単・迅速にあなたの黒歴史を消去します。炎上予防のため定期的にツイートを削除したい方、フォロワーを消さずにTwitterをやり直したい方にオススメです！")
%meta(property="og:type" content="website")
%meta(property="og:url" content="https://kurorekishi.me/cleaner")
%meta{property:"og:image", content:image_url('app-image.png')}
-# twitter cards
%meta(name="twitter:card" content="summary")
%meta(name="twitter:site" content="@CleanThemAll")
%meta(name="twitter:domain" content="kurorekishi.me")
-# facebook app
%meta(property="fb:admins" content="100000506059314")
%meta(property="fb:app_id" content="470879106306179")
-# favicon
%link{href:image_url('favicon.ico'), rel:"shortcut icon"}
-# smartphone
%meta(apple-mobile-web-app-status-bar-style='black-translucent')
%link{rel:"apple-touch-icon-precomposed", sizes:"120x120", href:image_url('apple-touch-icon-precomposed.png')}
%link{rel:"apple-touch-icon-precomposed", sizes:"144x144", href:image_url('apple-touch-icon-precomposed.png')}
%link{rel:"apple-touch-icon", sizes:"120x120", href:image_url('apple-touch-icon-precomposed.png')}
%link{rel:"apple-touch-icon", sizes:"144x144", href:image_url('apple-touch-icon-precomposed.png')}
%meta(name='apple-mobile-web-app-title' content='CleanThemAll')
