<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, user-scalable=no, initial-scale=1.0' name='viewport'>
    <meta apple-mobile-web-app-status-bar-style='black-translucent'>
    <meta content='CleanThemAll' name='apple-mobile-web-app-title'>
    <title>呪われしツイートを一括削除！ | 黒歴史クリーナー</title>
    <style type="text/css">
    body {
      width: 400px;
      margin: 100px auto;
      font: 300 120% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
      color: #444;
    }
    h1 { font-weight: 300; }
    .date{ color: #da4f49; }
    </style>
  </head>
  <body>
    <h1>Maintenance</h1>
    <p>The system is down for maintenance<br>
           as of <span class='date'><%= DateTime.now.strftime("%Y-%m-%d %H:%M") %></span> JST.</p>
    <p>It'll be back shortly.</p>
  </body>
</html>
